
html, body, .grid-container { height: 100%; margin: 0; background: #4da3ff; }
/*https://grid.layoutit.com/ thanks*/
.grid-container {
  display: grid;
 grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  grid-template-rows: 0.6fr 1.5fr 1.3fr 0.6fr 1fr;
  gap: 0px 0px;
  justify-content: center;
  grid-template-areas:
    "name name name name"
    ". temperature cel ."
    ". humidity rh ."
    ". . . ."
    "connect . update update";
}
.name { 
    grid-area: name; 
    align-self: center;
    justify-self: center;    
}
.connect { 
    grid-area: connect;   
    /*align-self: center;*/
    justify-self: center;
}
.update { 
    grid-area: update; 
    /*align-self: center;*/
    justify-self: center; 
}
.temperature { 
    grid-area: temperature; 
    align-self: center;
    justify-self: center; 
}
.humidity { 
    grid-area: humidity; 
    align-self: center;
    justify-self: center;   
}
.cel { 
    grid-area: cel; 
    align-self: center;
    /*justify-self: center; */   
}
.rh { 
    grid-area: rh; 
    align-self: center;
    /*justify-self: center;*/   
}

.hidden {
    /*display: none;*/
    visibility: hidden;
}

:root {
  --val-color: #fff; /*6d6d6d*/
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vw;
    color: #fff;
}

.buttons {
    background-color: #b3daff;
    text-align: center;
    width: 20vw;
    height: 20vw;
    min-width: initial;    
}

.circle {
    background: blue;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.icon {

    width: 10px;
    height: 10px;
    display: block;
    background: red;
}

#title {
    font-family: 'Fredoka One';
    font-size: 8vw;
    color: var(--val-color);
    line-height: 100%;
}

#values {
    font-family: 'Fredoka One';
    line-height: 150%;
    margin: 0 auto;
    color : var(--val-color); 
}
.view-val {
    font-family: 'Fredoka One';
    line-height: 80%;
    margin: 0 auto;
    color : var(--val-color); 
    font-size: 35vw;
}
.view-sub {
    font-family: 'Fredoka One';
    line-height: 150%;
    margin: 0 auto;
    color : var(--val-color); 
    font-size: 10vw;
}
