
html, body, .grid-container { height: 100%; margin: 0; background: #111236; }
/*https://grid.layoutit.com/ thanks*/
.grid-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 0.5fr) minmax(0, 0.5fr);
  grid-template-rows: 0.7fr 1.4fr 1.4fr 0.5fr 0.8fr 0.2fr;
  gap: 0px 0px;
  justify-content: center;
  grid-template-areas:

    "name name name name"
    ". temperature cel ."
    ". humidity rh ."
    ". . . ."
    "connect . update update"
    ". . . .";
}
.name { 
    grid-area: name; 
    align-self: center;
    justify-self: center;    
}
.connect { 
    grid-area: connect;   
    /*align-self: center;*/
    justify-self: center;
}
.update { 
    grid-area: update; 
    /*align-self: center;*/
    justify-self: center; 
}
.temperature { 
    grid-area: temperature; 
    align-self: center;
    justify-self: center; 
    width: max-content;
}
.humidity { 
    grid-area: humidity; 
    align-self: center;
    justify-self: center; 
    width: max-content; 
}
.cel { 
    grid-area: cel; 
    align-self: center;
    justify-self: center;    
}
.rh { 
    grid-area: rh; 
    align-self: center;
    justify-self: center;   
}

.hidden {
    /*display: none;*/
    visibility: hidden;
}

:root {
  --val-color: #fff; /*6d6d6d 4da3ff*/
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vmin;
    color: #fff;
}

.buttons {
    background-color: #33334d;
    text-align: center;
    width: 20vmin ;
    height: 20vmin ;
    min-width: initial;    
}

.circle {
    background: blue;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.icon {

    width: 10px;
    height: 10px;
    display: block;
    background: red;
}

#title {
    font-family: 'Fredoka One';
    font-size: 8vmin;
    color: #ff7b59;
    line-height: 100%;
}

#values {
    font-family: 'Fredoka One';
    line-height: 150%;
    margin: 0 auto;
    color : var(--val-color); 
}
.view-val {
    font-family: 'Fredoka One';
    line-height: 80%;
    margin: 0 auto;
    color : var(--val-color); 
    font-size: 35vmin;
}
.view-sub {
    font-family: 'Fredoka One';
    line-height: 150%;
    margin: 0 auto;
    color : var(--val-color); 
    font-size: 10vmin;
}
